@model BDA.Domain.Passport

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавить</h1>

<h4>Паспорт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> @Html.DisplayNameFor(model => model.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipId" class="control-label"></label>
                <select asp-for="CitizenshipId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.Citizenships"></select>
                <span asp-validation-for="CitizenshipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationNumber" class="control-label"></label>
                <input asp-for="IdentificationNumber" class="form-control" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuingAuthorityLocalityId" class="control-label"></label>
                <select asp-for="IssuingAuthorityLocalityId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.Localities"></select>
            </div>
            <div class="form-group">
                <label asp-for="IssuingAuthorityId" class="control-label"></label>
                <select asp-for="IssuingAuthorityId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.IssuingAuthorities "></select>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function () {
        $(document).on("change", "#IssuingAuthorityLocalityId", function () {
            var localityId = this;
            $.ajax({
                url: "/IssuingAuthorityLocalities/GetIssuingAuthoritesBy?localityId=" + $(localityId).val(),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    var issuingAuthorities = "";
                    $(result).each(function () {
                        issuingAuthorities = issuingAuthorities + '<option value="' + this.id + '">' + this.name + '</option>'
                    });

                    var subCateList = $("#IssuingAuthorityId");
                    subCateList.empty();
                    subCateList.append(issuingAuthorities);
                }
            });
        });
        });
        </script>
    }
