@model BDA.Domain.Depositor

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменить</h1>

<h4>Клиент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassportId" class="control-label"></label>
                <select asp-for="PassportId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.Passports"></select>
                <span asp-validation-for="PassportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.Addresses"></select>
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberId" class="control-label"></label>
                <select asp-for="PhoneNumberId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.PhoneNumbers"></select>
                <span asp-validation-for="PhoneNumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
